<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<!-- Materialize Style CDN -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		  <!-- Compiled and minified CSS -->
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		  <!-- Compiled and minified JavaScript -->
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
			<!-- Icons CDN -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


		<title>MVC With Hamburgers!</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				{{{ body }}}
			</div>
		</div>
	</body>

<!-- Code for Parallax Background Effect-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/assets/js/parallax.js"></script>
  <script type="text/javascript">
      $('.parallax-window2').parallax({imageSrc: '/assets/img/burgers.png'});
  </script>



</html>
