

<div class="container">
  <img src="/assets/img/hamburger-icon.png" alt="Haumburger Icon"></img>
  <h3 style="color:red">Eat-Da-Burger</h3>
  <hr />
</div>



<div class="col s6">
    <h5>Waiting to be devoured</h5>

    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li class="burger-orders">
            {{this.burger_name}}
              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST" class="float:right">
                <input type="hidden" name="devoured" value="true">
                <button type="submit" class="waves-effect waves-light btn">Eat!</button>
              </form>

            {{> burgers/delete-burger}}
          </li>
        {{/unless}}
      {{/each}}
    </ul>
</div>


<div class="col s6">
  <h5> Already in my Belly</h5>

  <ul>
    {{#each burgers}}
      {{#if this.devoured}}
        <li class="burger-orders">
          {{this.burger_name}}
          <form action="burgers/update/{{this.id}}?_method=PUT" method="POST" class="float:right">
            <input type="hidden" name="devoured" value="false" />
            <button type="submit" class="waves-effect waves-light btn">Put Back</button>
          </form>

          {{> burgers/delete-burger}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<div class="col s12">
  <h3>Add a burger</h3>
  <form class="create-update-form" action="burgers/create" method="POST">

    <div class="form-group">
      <label for="burger_name"></label>
      <input type="text" id="burger_name" name="burger_name"/>
      <button type="submit">Submit</button>
    </div>

</div>
